APP_PORT=8080
STORAGE_PROVIDER=memory

GOOGLE_SPREADSHEET_ID=
GOOGLE_PRODUCTS_SHEET_NAME=Products
GOOGLE_PRODUCT_BATCHES_SHEET_NAME=ProductBatches
GOOGLE_INVENTORY_MOVEMENTS_SHEET_NAME=InventoryMovements
GOOGLE_CREDENTIALS_FILE=credentials.json